@use '../functions' as *;

header {
  background-color: #fff;
  color: #fff;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
  h1 {
    font-size: 24px;
    margin: 0;
  }
  p {
    font-size: 14px;
    margin: 0;
  }
}
